a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: bottom;
}
a:focus,
abbr:focus,
acronym:focus,
address:focus,
applet:focus,
article:focus,
aside:focus,
audio:focus,
b:focus,
big:focus,
blockquote:focus,
body:focus,
button:focus,
canvas:focus,
caption:focus,
center:focus,
cite:focus,
code:focus,
dd:focus,
del:focus,
details:focus,
dfn:focus,
div:focus,
dl:focus,
dt:focus,
em:focus,
embed:focus,
fieldset:focus,
figcaption:focus,
figure:focus,
footer:focus,
form:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
header:focus,
hgroup:focus,
html:focus,
i:focus,
iframe:focus,
img:focus,
ins:focus,
kbd:focus,
label:focus,
legend:focus,
li:focus,
mark:focus,
menu:focus,
nav:focus,
object:focus,
ol:focus,
output:focus,
p:focus,
pre:focus,
q:focus,
ruby:focus,
s:focus,
samp:focus,
section:focus,
small:focus,
span:focus,
strike:focus,
strong:focus,
sub:focus,
summary:focus,
sup:focus,
table:focus,
tbody:focus,
td:focus,
tfoot:focus,
th:focus,
thead:focus,
time:focus,
tr:focus,
tt:focus,
u:focus,
ul:focus,
var:focus,
video:focus {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
html {
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
img {
  display: block;
  width: 100%;
}
img:focus {
  outline: 0;
}
input:focus {
  outline: none;
  border: 1px solid #65180b;
}
* {
  font-family: Source Sans Pro, Sans Serif;
}
b {
  font-weight: 700;
}
body {
  background-color: #e7e9eb;
  scroll-behavior: smooth;
}
a,
div,
p {
  color: #2e2e2e;
  font-size: 16px;
  font-family: Source Sans Pro, Sans Serif;
  text-decoration: none;
}
.burger {
  position: relative;
  cursor: pointer;
  height: 30px;
  width: 20px;
  text-align: center;
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  display: block;
  background-color: #2e2e2e;
}
.burger:after,
.burger:before {
  content: "";
  height: 2px;
  width: 100%;
  border-radius: 0;
  display: inline-block;
  position: absolute;
  left: 0;
  background-color: #1d809f;
  transition: all 0.2s ease-out;
}
.burger:after {
  bottom: 6px;
}
.burger:before {
  top: 6px;
}
.burger .burger-icon {
  width: 20px;
  height: 2px;
  display: inline-block;
  margin: 14px 0;
  background-color: #1d809f;
  transition: all 0.2s ease-out;
  border-radius: 3px;
}
.burger.burgerOpen .burger-icon {
  width: 0;
}
.burger.burgerOpen:after {
  transform: rotate(-45deg);
  bottom: 14px;
}
.burger.burgerOpen:before {
  transform: rotate(45deg);
  top: 14px;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 70px;
  background: #2e2e2e;
  width: 100%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
.header .container {
  height: 100%;
}
.header__logo {
  font-weight: 600;
  font-size: 25px;
  color: #1d809f;
}
.header__logo:hover {
  color: #ecb807;
}
.header__logo-desk {
  display: none;
  color: #fff;
}
.header__menu--close {
  margin-left: auto;
  margin-right: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 25px !important;
  cursor: pointer;
  display: block;
  margin-top: -20px;
  display: none;
}
.header__row {
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header__menu,
.header__submenu {
  position: fixed;
  top: 70px;
  left: 0;
  height: calc(100vh - 70px);
  overflow: scroll;
  width: 80vw;
  max-width: 360px;
  background: #2e2e2e;
  z-index: 1;
  padding: 30px 15px;
  border: 1px solid #e4e5e7;
  transform: translateX(-110vw);
  transition: transform 0.3s ease;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
.header__submenu {
  top: 0;
}
.header__item {
  line-height: 1.2;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  display: block;
  color: #fff;
}
.header__item > .header__button {
  padding: 0;
}
.header__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  line-height: 1.2;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
.header__button svg {
  margin-top: 5px;
  fill: #fff;
}
.header__back {
  display: flex;
  align-items: center;
  line-height: 1.8;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
.header__back svg {
  transform: rotate(180deg);
  margin-right: 10px;
  fill: #fff;
}
.header__space {
  padding: 0 30px;
}
.header .btn {
  text-align: center;
  margin: 30px 0;
  width: 100%;
}
.header__cont {
  display: flex;
  align-items: center;
}
.header__cont-desk {
  display: none;
}
.header__cont-numbers a {
  line-height: 1.2;
  font-size: 20px;
  margin-right: 15px;
  color: #fff;
}
.header__cont-icon {
  margin-right: 20px;
}
.header__cont-ret {
  margin: 20px 0 10px;
  justify-content: center;
}
.header__cont-ret .header__cont-icon {
  font-size: 30px;
}
@media (min-width: 767px) {
  .burger:after,
  .burger:before {
    width: 15px;
  }
  .burger .burger-icon {
    width: 20px;
  }
  .header__menu,
  .header__submenu {
    height: 100vh;
    top: 0;
  }
  .header__menu--close {
    display: block;
  }
}
@media (min-width: 991px) {
  .burger {
    display: none;
  }
  .header__logo-desk {
    font-weight: 600;
    color: #ecb807;
    font-size: 25px;
    display: block;
  }
  .header__logo-desk:hover {
    color: #fff;
  }
  .header__back,
  .header__mobile {
    display: none;
  }
  .header__menu {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    width: auto;
    max-width: 960px;
    padding: 0 15px;
    margin: auto;
    box-shadow: none;
  }
  .header__menu,
  .header__submenu {
    overflow: visible;
    transform: none !important;
    border: 0;
  }
  .header__submenu {
    position: absolute;
    left: -30px;
    padding: 30px 0;
    top: 100%;
    height: auto;
    z-index: 2;
    display: none;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  }
  .header__submenu .header__item {
    padding: 10px 30px;
    line-height: 1.2;
  }
  .header__submenu .header__item .header__button {
    height: auto;
    font-size: 16px;
  }
  .header__submenu .header__item .header__button svg {
    transform: none;
  }
  .header__submenu .header__submenu {
    background-color: #1d809f;
    left: 100%;
    top: -30px;
  }
  .header__submenu .header__submenu .header__item {
    color: #fff;
    font-size: 16px;
  }
  .header__submenu .header__submenu .header__item:hover {
    opacity: 0.8;
  }
  .header__submenu-firstLvl > .header__item:hover {
    background-color: #1d809f;
    color: #fff;
  }
  .header__submenu-firstLvl > .header__item:hover .header__button {
    color: #fff;
  }
  .header__submenu-firstLvl > .header__item:hover .header__button svg {
    fill: #fff;
  }
  .header__menu--close {
    display: none;
  }
  .header__bottom,
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  .header__bottom-left,
  .header__bottom-right,
  .header__top-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
  .header__bottom-left > .header__item {
    margin-right: 30px;
  }
  .header__item {
    padding: 0;
    font-size: 16px;
    line-height: 70px;
    position: relative;
    display: flex;
    align-items: center;
  }
  .header__item > .header__button {
    height: 70px;
  }
  .header__item:hover,
  .header__item:hover > .header__button {
    color: #ecb807;
  }
  .header__item:hover > .header__button svg {
    fill: #ecb807;
  }
  .header__item:hover > .header__submenu {
    display: block;
  }
  .header__cont {
    margin-left: 20px;
    line-height: normal;
  }
  .header__cont-mobile {
    display: none;
  }
  .header__cont-desk {
    display: block;
  }
  .header__cont-ret {
    margin: 0;
    width: 50%;
    justify-content: flex-end;
  }
  .header__cont-ret .header__cont-icon {
    margin-right: 0;
    margin-left: 20px;
  }
  .header__cont-icon {
    margin-right: 10px;
  }
  .header__cont-nubmers {
    text-align: right;
  }
  .header__cont-numbers a {
    font-size: 16px;
    margin-right: 0;
    color: #fff;
  }
  .header__cont-numbers a:hover {
    color: #ecb807;
  }
  .header__button {
    font-size: 16px;
    width: 100%;
  }
  .header__button svg {
    margin-left: 10px;
    transform: rotate(90deg);
  }
  .header .button {
    margin: 0;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .header__menu {
    max-width: 1140px;
  }
  .header .button,
  .header__button,
  .header__cont-numbers a,
  .header__item {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .header .header__menu {
    max-width: 1320px;
  }
}
.footer {
  padding-top: 80px;
}
.footer__contacts {
  text-align: center;
}
.footer__contacts a {
  margin-bottom: 20px;
  font-size: 20px;
  display: block;
}
.footer__contacts i {
  margin-right: 10px;
}
.footer .row {
  justify-content: center;
}
.footer .lead,
.footer .list-inline {
  margin-bottom: 30px;
}
.footer__contacts {
  margin-bottom: 50px;
}
.footer .prefooter {
  text-align: center;
  font-weight: 300;
}
.footer .lead {
  font-size: 25px;
}
.footer .list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
.footer .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1d809f;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
}
.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}
.footer .lead {
  text-align: center;
}
@media (min-width: 991px) {
  .footer__contacts a {
    display: inline;
    margin-right: 20px;
    margin-bottom: 0;
  }
  .footer__contacts a::not(:last-child) {
    margin-right: 0;
  }
}
a:hover {
  color: #1d809f;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.btn i {
  margin-right: 10px;
}
.btn-primary {
  background: #1d809f;
  border: 0;
}
.btn-primary:hover {
  background: #155d74;
}
p {
  margin-bottom: 10px;
}
main {
  padding-top: 70px;
}
.link {
  color: #1d809f;
}
.link:hover {
  text-decoration: underline;
}
.lead a {
  font-size: 1.25rem;
  font-weight: 300;
}
.title {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  color: #1d809f;
}
.section {
  padding: 40px 0;
}
.banner {
  max-height: calc(100vh - 75px);
  height: calc(90vh - 75px);
  overflow: hidden;
  position: relative;
  background-color: #ecb807;
  background-repeat: repeat;
}
.banner__img {
  opacity: 0.1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner__inner {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.banner__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner .btn {
  font-size: 20px;
  margin-top: 100px;
}
.banner h5 {
  font-size: 20px;
  font-weight: 600;
}
.banner h4 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.banner .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about .lead {
  text-align: center;
  line-height: 1.4;
  margin-bottom: 20px;
}
.about .row {
  justify-content: center;
}
.offer {
  background-color: #1d809f;
}
.offer__title {
  color: #ecb807;
}
.offer__item {
  display: block;
  margin-bottom: 50px;
}
.offer__icon {
  background-color: #e7e9eb;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: auto;
  color: #1d809f;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.offer__name {
  font-size: 25px;
  margin: 20px 0;
}
.offer__lead,
.offer__name {
  color: #fff;
  text-align: center;
}
.offer__lead {
  font-size: 16px;
}
.offer__item:hover .offer__name,
.offer__item:hover p {
  text-decoration: underline;
}
.testimonials {
  text-align: center;
}
.testimonials__activity {
  color: #696969;
}
.testimonials__name {
  font-weight: 700;
  font-size: 20px;
  margin: 5px 0;
}
.testimonials__avatar,
.testimonials__name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials__avatar {
  width: 35px;
  height: 35px;
  background-color: #1d809f;
  color: #ecb807;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}
.testimonials__text {
  line-height: 1.3;
  padding: 24px 0;
}
.testimonials__btn {
  margin-top: 40px;
  display: inline-block;
}
.testimonials__slider {
  padding-bottom: 30px;
}
.testimonials__slider .slick-list {
  padding: 0 !important;
}
.testimonials__slider .slick-slide {
  padding: 0 15px;
}
.testimonials .slick-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.testimonials .slick-dots button {
  font-size: 0;
  height: 12px;
  width: 12px;
  background: #62646a;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0.4;
}
.testimonials .slick-dots .slick-active button {
  opacity: 1;
}
.portofolio {
  background-color: #1d809f;
}
.portofolio__title {
  color: #ecb807;
}
.portofolio__item {
  position: relative;
  margin: 0;
}
.portofolio__item:hover .portofolio__image img {
  transform: scale(1.1);
}
.portofolio__item:hover .portofolio__descr {
  opacity: 1;
}
.portofolio__image {
  overflow: hidden;
  position: relative;
}
.portofolio__image img {
  transition: transform 1s ease;
}
.portofolio__descr {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  opacity: 0;
  background-color: rgba(46, 46, 46, 0.8);
  transition: opacity 0.3s ease;
}
.portofolio__name {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  text-align: center;
}
.portofolio__lead {
  color: #fff;
  line-height: 1.3;
}
.portofolio .slick-slider {
  padding-bottom: 50px;
}
.portofolio .slick-list {
  padding: 0 !important;
}
.portofolio .slick-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.portofolio .slick-dots button {
  font-size: 0;
  height: 12px;
  width: 12px;
  background: #2e2e2e;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0.4;
}
.portofolio .slick-dots .slick-active button {
  opacity: 1;
}
.portofolio .slick-arrow {
  display: none !important;
  position: absolute;
  font-size: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url(https://soledy.com/fronts_mobile/img/icons/arrow-right-new.svg);
  background-repeat: no-repeat;
  top: calc(50% - 15px);
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.portofolio .slick-arrow:active {
  opacity: 0.4;
}
.portofolio .slick-arrow:hover {
  opacity: 1;
}
.portofolio .slick-next {
  transform: rotate(180deg);
  right: -60px;
}
.portofolio .slick-prev {
  left: -60px;
}
.map-contact {
  padding: 0;
  position: relative;
  z-index: 1;
}
.map-contact .col-12 {
  padding: 0;
}
.map-contact .hours-plan {
  background: #2e2e2e;
  padding: 80px 15px;
  position: relative;
  z-index: 2;
}
.map-contact .hours-plan img {
  margin-bottom: 30px;
}
.map-contact .hours-plan h5 {
  font-size: 20px;
  color: #ecb807;
  line-height: 1.1;
  margin-bottom: 20px;
}
.map-contact .hours-plan li,
.map-contact .hours-plan p {
  font-size: 14px;
  color: #fff;
  line-height: 1.1;
}
.map-contact .hours-plan p {
  margin-bottom: 10px;
}
.map-contact .hours-plan li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(181, 182, 186, 0.55);
}
.map-contact .hours-plan li span:last-child {
  color: rgba(181, 182, 186, 0.55);
}
.map-contact .hours-plan ul {
  margin-bottom: 40px;
}
.map-contact .mapouter {
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  min-height: 500px;
  z-index: 1;
  filter: grayscale(100%);
}
.map-contact iframe {
  width: 100%;
  height: 100%;
  min-height: 500px;
}
@media (min-width: 991px) {
  .title {
    margin-bottom: 80px;
  }
  .section {
    padding: 80px 0;
  }
  .banner {
    height: auto;
    min-height: calc(90vh - 75px);
  }
  .banner__title {
    font-size: 6rem;
  }
  .banner h5 {
    font-size: 25px;
  }
  .banner h4 {
    font-size: 37px;
  }
  .portofolio__item {
    margin: 0 15px;
  }
  .portofolio .slick-arrow {
    display: inline-block !important;
  }
  .map-contact {
    padding: 80px 0;
  }
  .map-contact__btn {
    display: inline-flex;
  }
  .map-contact .hours-plan {
    padding: 40px;
  }
  .map-contact .mapouter {
    position: absolute;
    width: 100vw;
    height: 70vh;
  }
}

/*# sourceMappingURL=style.bundle.css.map*/
