<%=_.template(require('./../includes/head.html').default)(data) %>
<%=_.template(require('./../includes/header.html').default)(data) %>

<main class="home-content">
  <div class="banner">
    <div class="container">
      <div class="banner__inner">
        
        <h2 class="banner__title">Вы хотите устоновить окна?</h2>
        <div class="btn btn-primary">
          Online QUOTE
        </div>
      </div>
    </div>
    <img class="banner__img" src="img/window-banner.jpg" alt="" />
  </div>
  <section class="section about">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3 class="title about__title">About Me</h3>

          <p class="lead mb-0">
            <b>I am a contractor.</b>
          </p>
          <p class="lead">
            <b>I have been installing windows and doors for 18 years!</b>
          </p>
          <p class="lead">
            I am comfortable discussing all details over the phone, text or
            email. I can give you my advice on styles, colors, and the
            installation process. I usually do estimates based on the
            approximate size of your windows. If you are looking for a door it
            would help if you could send me a picture of your existing door
            and/or door design you have in mind or pick some from
            <a class="link" href="portofolio.html"
              >My Front Entry Doors Portfolio</a
            >. Do not forget to check my
            <a
              class="link"
              href="https://homestars.com/companies/2888420-window-man"
              >REVIEWS</a
            >
            !
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section offer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="offer__title title">
            What I Offer
          </h3>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="windows.html" class="offer__item">
            <div class="offer__icon">
              <i class="fas fa-border-all"></i>
            </div>
            <div class="offer__name">
              Windows
            </div>
            <p class="offer__lead lead text-faded">
              Replacement brick to brick or retrofit
            </p>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="windows.html" class="offer__item">
            <div class="offer__icon">
              <i class="fas fa-home"></i>
            </div>
            <div class="offer__name">
              Doors
            </div>
            <p class="offer__lead lead text-faded">
              Modern and traditional styles, any size
            </p>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="windows.html" class="offer__item">
            <div class="offer__icon">
              <i class="fas fa-box"></i>
            </div>
            <div class="offer__name">
              Brick Concrete Cutting
            </div>
            <p class="offer__lead lead text-faded">
              Cut brick concrete for a new window or door
            </p>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="windows.html" class="offer__item">
            <div class="offer__icon">
              <i class="fas fa-network-wired"></i>
            </div>
            <div class="offer__name">
              Advice/the Way it Works
            </div>
            <p class="offer__lead lead text-faded">
              Get any Question answered <i class="fas fa-heart"></i> I love to
              talk!
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section testimonials">
    <div class="container">
      <h3 class="testimonials__title title">
        Google Reviews
      </h3>
      <div class="testimonials__slider">
        <div class="testimonials__slide">
          <p class="testimonials__name">
            <span class="testimonials__avatar">
              B
            </span>
            Bill Khouzam
          </p>
          <blockquote class="testimonials__text">
            "Andrew gave a quote, provided detailed work information and a
            catalogue of all door styles. When the team came to install, they
            were on time and professional."
          </blockquote>
        </div>
        <div class="testimonials__slide">
          <p class="testimonials__name">
            <span class="testimonials__avatar">G</span>
            Ganesh Brijmongal
          </p>
          <blockquote class="testimonials__text">
            "Andrew did a fantastic job installing our door. He was on time,
            responsive, and very professional. His price is competitive and
            matches well with a job well done."
          </blockquote>
        </div>
        <div class="testimonials__slide">
          <p class="testimonials__name">
            <span class="testimonials__avatar">
              G
            </span>
            Gustavo J.
          </p>
          <blockquote class="testimonials__text">
            "I'm happy to finish this project with Andrew. He has provided me a
            reasonable price, timeline and quality of products. He is a polite
            and hard workingmen. I am highly recommended to do business with
            him. Thank you for your advise and the job on this project."
          </blockquote>
        </div>
        <div class="testimonials__slide">
          <p class="testimonials__name">
            <span class="testimonials__avatar">
              M
            </span>
            Michael Arkhypkin
          </p>
          <blockquote class="testimonials__text">
            "I am using Window Man for many years and never had a chance to
            wright a review. Andrew is a real professional, every time he
            fulfilled his promises and compete the job with smile. Definitely
            will use his service for next project. Thank you Andrew."
          </blockquote>
        </div>
      </div>
      <a href="https://goo.gl/s5TC4r" class="testimonials__btn btn btn-primary">
        View More
      </a>
    </div>
  </section>
  <section class="section portofolio">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="portofolio__title title">Recent Projects</h3>
        </div>
        <div class="col-12">
          <div class="portofolio__slider">
            <a href="#" class="portofolio__item">
              <div class="portofolio__image">
                <img src="img/1002.jpg" alt="" />
                <div class="portofolio__descr">
                  <p class="portofolio__lead lead">
                    Single front entry steel insulated door and two sidelights.
                    Professionally painted Burgundy color. Westham wrought iron
                    glass!
                  </p>
                </div>
              </div>

              <p class="portofolio__name">Modern Door</p>
            </a>
            <a href="#" class="portofolio__item">
              <div class="portofolio__image">
                <img src="img/1003.jpg" alt="" />
                <div class="portofolio__descr">
                  <p class="portofolio__lead lead">
                    Single front entry steel insulated door and two sidelights.
                    Professionally painted Burgundy color. Westham wrought iron
                    glass!
                  </p>
                </div>
              </div>

              <p class="portofolio__name">Modern Door</p>
            </a>
            <a href="#" class="portofolio__item">
              <div class="portofolio__image">
                <img src="img/1004.jpg" alt="" />
                <div class="portofolio__descr">
                  <p class="portofolio__lead lead">
                    Single front entry steel insulated door and two sidelights.
                    Professionally painted Burgundy color. Westham wrought iron
                    glass!
                  </p>
                </div>
              </div>

              <p class="portofolio__name">Modern Door</p>
            </a>
            <a href="#" class="portofolio__item">
              <div class="portofolio__image">
                <img src="img/1005.jpg" alt="" />
                <div class="portofolio__descr">
                  <p class="portofolio__lead lead">
                    Single front entry steel insulated door and two sidelights.
                    Professionally painted Burgundy color. Westham wrought iron
                    glass!
                  </p>
                </div>
              </div>

              <p class="portofolio__name">Modern Door</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="map-contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="hours-plan">
            <h5>Working Hours</h5>
            <p>Check out Montan Dentist’s Office hours to plan your visit.</p>
            <ul>
              <li><span>Monday</span><span>8AM-9PM</span></li>
              <li><span>Tuesday</span><span>8AM-9PM</span></li>
              <li><span>Wednesday</span><span>9AM-6:30PM</span></li>
              <li><span>Thursday</span><span>8AM-9PM</span></li>
              <li><span>Friday</span><span>8AM-9PM</span></li>
              <li><span>Saturday-Sunday</span><span>Closed</span></li>
            </ul>
            <h5>Need Flexible Time?</h5>
            <div
              class="map-contact__btn btn btn-primary"
              data-toggle="modal"
              data-target="book"
            >
              <i class="fas fa-book"></i>
              Online QUEUE
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe
          id="gmap_canvas"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92169.78660510572!2d-79.50720840666273!3d43.78726658311671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2e1cdf89c731%3A0x22b9f619d01d8e06!2sWindow%20Man!5e0!3m2!1sen!2sca!4v1580179471232!5m2!1sen!2sca"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
        ></iframe>
        <a href="https://www.embedgooglemap.net"></a>
      </div>
      <style>
        .mapouter {
          text-align: right;
          height: 100%;
          width: 100%;
        }
        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 100%;
          width: 100%;
        }
      </style>
    </div>
  </section>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
