a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: bottom;
}

a:focus,
abbr:focus,
acronym:focus,
address:focus,
applet:focus,
article:focus,
aside:focus,
audio:focus,
b:focus,
big:focus,
blockquote:focus,
body:focus,
button:focus,
canvas:focus,
caption:focus,
center:focus,
cite:focus,
code:focus,
dd:focus,
del:focus,
details:focus,
dfn:focus,
div:focus,
dl:focus,
dt:focus,
em:focus,
embed:focus,
fieldset:focus,
figcaption:focus,
figure:focus,
footer:focus,
form:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
header:focus,
hgroup:focus,
html:focus,
i:focus,
iframe:focus,
img:focus,
ins:focus,
kbd:focus,
label:focus,
legend:focus,
li:focus,
mark:focus,
menu:focus,
nav:focus,
object:focus,
ol:focus,
output:focus,
p:focus,
pre:focus,
q:focus,
ruby:focus,
s:focus,
samp:focus,
section:focus,
small:focus,
span:focus,
strike:focus,
strong:focus,
sub:focus,
summary:focus,
sup:focus,
table:focus,
tbody:focus,
td:focus,
tfoot:focus,
th:focus,
thead:focus,
time:focus,
tr:focus,
tt:focus,
u:focus,
ul:focus,
var:focus,
video:focus {
    outline: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}
html {
    scroll-behavior: smooth;
}
ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}