@import "variables.scss";
@import "resset.scss";
@import "header.scss";
@import "footer.scss";

a:hover {
  color: $fonBlue;
}

// button primary styles

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

  i {
    margin-right: 10px;
  }
}

.btn-primary {
  background: $fonBlue;
  border: 0;

  &:hover {
    background: $fonHover;
  }
}

p {
  margin-bottom: 10px;
}

main {
  padding-top: $height_header;
}

.link {
  color: $fonBlue;

  &:hover {
    text-decoration: underline;
  }
}

.lead a {
  font-size: 1.25rem;
  font-weight: 300;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  color: $fonBlue;
}

.section {
  padding: 40px 0;
}

.banner {
  max-height: calc(100vh - 75px);
  height: calc(90vh - 75px);
  overflow: hidden;
  position: relative;

  // background-image: url(../img/bg-callout.png);
  background-repeat: repeat;

  &__img {
    opacity: 0.8;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__inner {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .btn {
    font-size: 20px;
    margin-top: 100px;
  }

  h5 {
    font-size: 20px;
    font-weight: 600;
  }

  h4 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }

  .container {
    height: 100%;
  }
}

.about {
  .lead {
    text-align: center;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .row {
    justify-content: center;
  }
}

.offer {
  background-color: $fonBlue;

  &__title {
    color: $fonYellow;
  }

  &__item {
    display: block;
    margin-bottom: 50px;
  }

  &__icon {
    background-color: $fonBody;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: auto;
    color: $fonBlue;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  }

  &__name {
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin: 20px 0;
  }

  &__lead {
    text-align: center;
    color: #fff;
    font-size: 16px;
  }

  &__item:hover {
    p,
    .offer__name {
      text-decoration: underline;
    }
  }
}

.testimonials {
  text-align: center;
  &__activity {
    color: $color_hints;
  }
  &__name {
    font-weight: 700;
    font-size: $fontSize_name;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__avatar {
    width: 35px;
    height: 35px;
    background-color: $fonBlue;
    color: $fonYellow;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
  }
  &__text {
    line-height: 1.3;
    padding: 24px 0;
  }
  &__btn {
    margin-top: 40px;
    display: inline-block;
  }
  &__slider {
    padding-bottom: 30px;

    .slick-list {
      padding: 0px !important;
    }

    .slick-slide {
      padding: 0 15px;
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      font-size: 0;
      height: 12px;
      width: 12px;
      background: #62646a;
      margin: 0 5px;
      border-radius: 50%;
      opacity: 0.4;
    }

    .slick-active button {
      opacity: 1;
    }
  }
}

.portofolio {
  background-color: $fonBlue;

  &__title {
    color: $fonYellow;
  }
  &__item {
    position: relative;
    margin: 0px;
  }
  &__item:hover {
    .portofolio__image img {
      transform: scale(1.1);
    }
    .portofolio__descr {
      opacity: 1;
    }
  }

  &__image {
    overflow: hidden;
    position: relative;

    img {
      transition: transform 1s ease;
    }
  }
  &__descr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0;
    background-color: rgba($color: $color_main, $alpha: 0.8);
    transition: opacity 0.3s ease;
  }

  &__name {
    color: #ffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
  }

  &__lead {
    color: #ffff;
    line-height: 1.3;
  }

  .slick-slider {
    padding-bottom: 50px;
  }

  .slick-list {
    padding: 0 !important;
  }

  .slick-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      font-size: 0;
      height: 12px;
      width: 12px;
      background: $color_main;
      margin: 0 5px;
      border-radius: 50%;
      opacity: 0.4;
    }

    .slick-active button {
      opacity: 1;
    }
  }

  .slick-arrow {
    display: none !important;
    position: absolute;
    font-size: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url("https://soledy.com/fronts_mobile/img/icons/arrow-right-new.svg");
    background-repeat: no-repeat;
    top: calc(50% - 15px);
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:active {
      opacity: 0.4;
    }
    &:hover {
      opacity: 1;
    }
  }

  .slick-next {
    transform: rotate(180deg);
    right: -60px;
  }
  .slick-prev {
    left: -60px;
  }
}

.map-contact {
  padding: 0;
  position: relative;
  z-index: 1;

  .col-12 {
    padding: 0;
  }

  .hours-plan {
    background: $color_main;
    padding: 80px 15px;
    position: relative;
    z-index: 2;

    img {
      margin-bottom: 30px;
    }

    h5 {
      font-size: $fontSize_name;
      color: $fonYellow;
      line-height: 1.1;
      margin-bottom: 20px;
    }

    li,
    p {
      font-size: $fontSize_small;
      color: #ffff;
      line-height: 1.1;
    }

    p {
      margin-bottom: 10px;
    }

    li {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid rgba($color: $color_border_input, $alpha: 0.55);

      span:last-child {
        color: rgba($color: $color_border_input, $alpha: 0.55);
      }
    }

    ul {
      margin-bottom: 40px;
    }
  }

  .mapouter {
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    min-height: 500px;
    z-index: 1;
    filter: grayscale(100%);
  }

  iframe {
    width: 100%;
    height: 100%;
    min-height: 500px;
  }
}

@media (min-width: 991px) {
  .title {
    margin-bottom: 80px;
  }

  .section {
    padding: 80px 0;
  }
  .banner {
    height: auto;
    min-height: calc(90vh - 75px);

    &__inner {
      width: auto;
      max-width: 370px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem;
      padding-right: 0rem;
      padding-bottom: 2.5rem;
      background-color: #ecb807;
      left: 5rem;
      top: 5rem;
    }

    .btn {
      margin-top: 2rem;
    }

    &__title {
      font-size: 3rem;
      margin-bottom: 0;
    }
    h5 {
      font-size: 25px;
    }

    h4 {
      font-size: 37px;
    }
    .container {
      max-width: 1140px;
    }
  }
  .portofolio {
    &__item {
      margin: 0 15px;
    }
    .slick-arrow {
      display: inline-block !important;
    }
  }
  .map-contact {
    padding: 80px 0;

    &__btn {
      display: inline-flex;
    }

    .hours-plan {
      padding: 40px;
    }

    .mapouter {
      position: absolute;
      width: 100vw;
      height: 70vh;
    }
  }
}
