@font-face {
  font-family: 'Avenir-Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Avenir-Medium'), url(../fonts/Avenir-Medium.woff2) format('woff2'), url(../fonts/Avenir-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Avenir-Heavy';
  font-style: normal;
  font-weight: 500;
  src: local('Avenir-Heavy'), url(../fonts/Avenir-Heavy.woff2) format('woff2'), url(../fonts/Avenir-Heavy.woff) format('woff');
}

$height-header: 150px;
$height-header-bottom: 59px;


@import "resset.scss";
@import "variables.scss";

img {
  width: 100%;
}

a.logo {
  
  img {
    width: 275px;
  }
}

a:hover {
  color: $font-color-blue;
  text-decoration: none;
}

h1 {
  font-size: $font-size-large;
  color: $font-color-light;
  font-family: $font-avenir-heavy;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;

  &:after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: 150px;
    height: 4px;
    background: $pink-background;
  }
}

h3 {
  font-size: $font-size-big;
  color: $font-color-blue;
  font-family: $font-avenir-heavy;
  line-height: 1.3;

  small {
    font-size: 30px;
    display: block;
    color: $font-color-pink;
  }
}

p {
  font-family: $font-avenir-medium;
  font-size: $font-size-standard;
  color: $font-color-blue;
  line-height: 1.3;
  margin-bottom: 20px;
}

a {
  transition: color .3s ease;
}

input, textarea {
  display: block;
  width: 100%;
  background: #fff;
  border: 0;
  outline: 0;
  line-height: 60px;
  height: 60px;
  font-family: $font-avenir-heavy;
  font-size: $font-size-standard;
  color: $font-color-blue;
  padding-left: 10px;
  border-radius: 9px;

  &:focus {
    background: transparent;
    border: 1px solid $font-color-pink;
    box-shadow: 0 4px 10px 0 rgba(127,127,127,0.50);
  }
}

.select-container {
  margin-bottom: 20px;

  span {
    display: block;
    font-family: $font-avenir-medium;
    font-size: $font-size-small;
    color: $font-color-blue;
    margin-bottom: 5px;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    width: 100%;
    background: #fff;
    border: 0;
    outline: 0;
    line-height: 60px;
    height: 60px;
    font-family: $font-avenir-heavy;
    font-size: $font-size-standard;
    color: $font-color-blue;
    padding-left: 10px;
    border-radius: 9px;
  }
}

::placeholder {
  color: $font-color-blue;
}

main {
  padding-top: $height-header;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  background-image: linear-gradient(150deg, #BC68AA 100%, #005691 100%);
  padding: 0 15px;
  border-radius: 9px;
  transition: all .3s ease;
  cursor: pointer;
  animation-duration: .3s;
  animation-delay: 0;
  animation-fill-mode: both;
  animation-timing-function: linear;

  span {
    line-height: 58px;
    font-family: $font-avenir-medium;
    text-transform: uppercase;
    color: $font-color-light;
    font-size: $font-size-standard;
    transition: transform .3s ease;
  }

  svg {
    margin-right: 5px;
  }

  &:hover {
    animation-name: button-hover;
  }

  &:active span {
    transform: scale(0.95);
  }

  &.arrow-right {

    svg {
      transform: rotate(-90deg);
      margin-left: 10px;
      margin-bottom: 2px;
    }
  }

  @keyframes button-hover {
    0% {
      background-image: linear-gradient(150deg, #BC68AA 65%, #005691 100%);
    }
    5% {
      background-image: linear-gradient(150deg, #BC68AA 60%, #005691 100%);
    }
    10% {
      background-image: linear-gradient(150deg, #BC68AA 55%, #005691 100%);
    }
    15% {
      background-image: linear-gradient(150deg, #BC68AA 40%, #005691 100%);
    }
    20% {
      background-image: linear-gradient(150deg, #BC68AA 35%, #005691 100%);
    }
    25% {
      background-image: linear-gradient(150deg, #BC68AA 30%, #005691 100%);
    }
    30% {
      background-image: linear-gradient(150deg, #BC68AA 25%, #005691 100%);
    }
    35% {
      background-image: linear-gradient(150deg, #BC68AA 20%, #005691 100%);
    }
    40% {
      background-image: linear-gradient(150deg, #BC68AA 15%, #005691 100%);
    }
    45% {
      background-image: linear-gradient(150deg, #BC68AA 10%, #005691 100%);
    }
    50% {
      background-image: linear-gradient(150deg, #BC68AA 5%, #005691 100%);
    }
    100% {
      background-image: linear-gradient(150deg, #BC68AA 0%, #005691 100%);
    }
  }

  #arrow {
    fill: #fff;
  }
}

.button-transparent {
  display: block;
  font-size: $font-size-medium;
  color: $font-color-pink;
  font-family: $font-avenir-heavy;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid $font-color-pink;
  line-height: 1.2;
  overflow: hidden;

  svg, span {
    position: relative;
    right: 0;
    transition: right .3s ease;
  }

  svg {
    margin-left: 10px;
    width: 40px;
  }

  &:hover {
    color: $font-color-pink;
    text-decoration: underline;
    
    svg {
      right: -40px;
    }

    span {
      right: -25px;
    }
  }
}

.phone-container {
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 9px;
  box-shadow: 0 6px 11px 0 rgba(163,163,163,0.50);
  

  .phone-select {
    display: flex;
    align-items: center;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    border-right: 1px solid $font-color-pink;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;

    img {
      width: 40px;
      margin-right: 10px;
    }
  }

  input {
    box-shadow: none !important;
    border-radius: 0;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
  }

  input:focus {
    box-shadow: none !important;
    border: 0;
  }
}

.banner-page {
  background-image: url(../img/backgrounds/news-banner.jpg);
  background-position: center center;
  position: relative;
  padding: 80px 0;

  p {
    color: $font-color-light;
    font-size: $font-size-standard;
    font-family: $font-avenir-medium;
    line-height: 1.5;
  }

  span {
    padding-right: 40px;

    svg {
      height: 22px;
      width: auto;
      margin-right: 5px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $blue-background-rgba, $alpha: .85);
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }
}

.range-container {
  height: 4px;
  background: rgba($color: #000000, $alpha: .3);
  border-radius: 9px;
  position: relative;

  .range {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 9px;
    background: $pink-background;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: $height-header;
  background: $light-background;

  .header-top{
    height: 90px;
  }

  .header-bottom {
    border-top: 1px solid #fff;
    height: $height-header-bottom;

    li {
      position: relative;
      display: block;

      ul {
        background: $light-background;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 15px;
        min-width: 200px;
        height: 0;
        opacity: 0;
        overflow: hidden;
        z-index: 1;
        transition: all .3s ease;
        box-shadow: 0 7px 9px 0 rgba(179,179,179,0.50);
      }

      &:hover ul {
        height: auto;
        opacity: 1;
      }
    }
  }

  .header-bottom-right {
    display: flex;
    align-items: center;
  }

  .row {
    justify-content: space-between;
    align-items: center;
  }

  a, span {
    font-family: $font-avenir-heavy;
    font-size: $font-size-standard;
    color: $font-color-blue;
    letter-spacing: 0.18px;
  }

  .header-contact {
    display: flex;

    &>div {
      display: flex;
      margin-left: 15px;

      svg + div span:nth-child(2) {
        font-size: $font-size-small;
        text-transform: none;
      }
    }

    span, a {
      display: block;
      line-height: 1.3;
      text-transform: uppercase;
    }

    svg {
      margin-right: 10px;
    }
  }

  ul {
    display: flex;
    margin-left: -15px;
    
    a {
      display: block;
      line-height: $height-header-bottom;
      padding: 0 15px;
      transition: all .3s ease;
    }

    li:hover>a {
      color: $font-color-pink;
      box-shadow: 0 7px 9px 0 rgba(179,179,179,0.50);
      span {
        color: $font-color-pink;
      }
    }

    a, span {
      text-transform: uppercase;
    }
  }

  .lang-bloc {
    margin-right: 30px;

    #lang-button {
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        margin-left: 5px;
      }
    }
  }
}

footer {
  background: $light-background;

  .footer-inner {
    padding: 100px 0;
    flex-wrap: nowrap;
  }

  .prefooter {
    height: 60px;
    border-top: 1px solid #13476A;

    p {
      color: $font-color-blue;
      line-height: 60px;
      margin-bottom: 0;
      padding: 0;
    }
  }

  .networks {
    display: flex;

    img {
      width: 30px;
    }

    a:first-child img {
      width: 18px;
      margin-right: 20px;
    }
  }

  p {
    white-space: unset;
  }

  a.logo {
    display: block;
    margin: 10px 0;
  }

  a, li, p {
    font-family: $font-avenir-medium;
    font-size: $font-size-standard;
    color: $font-color-blue;
    line-height: 1.5;
    padding: 5px 0;
  }

  p {
    line-height: 1.5;
  }

  a:hover {
    color: $font-color-pink
  }

  .title {
    text-transform: uppercase;
    margin-bottom: 5px;
    color: $font-color-pink;
  }
}

.home-banner {
  height: calc(100vh - 150px);
  background-size: cover;
  position: relative;

  .row {
    margin-right: -15vw;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  div {
    height: 100%;
  }

  p {
    font-size: 60px;
    color: $font-color-pink;
    font-family: $font-avenir-medium;
    margin-bottom: 40px;
  }

  .title {
    font-size: 110px;
    color: $font-color-blue;
    font-family: $font-avenir-heavy;
    height: auto;
  }
}

.slider-testimonials {
  position: relative;
  z-index: 1;

  .testimonial-item {
    background: $blue-background;
    padding: 40px 60px;
  }

  img {
    width: 85px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 30px;
    color: #fff;
    font-size: $font-size-medium;
    font-family: $font-avenir-medium;
    line-height: 1.3;

    span {
      color: $font-color-pink;
      font-size: $font-size-big;
      line-height: 20px;
    }
  }

  div {
    text-align: center;
    color: #fff;
    font-size: $font-size-standard;
    font-family: $font-avenir-medium;
  }

  .slick-dots {
    position: absolute;
    bottom: -30px;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    button {
      font-size: 0;
      border: 0;
      outline: 0;
      background: $font-color-pink;
      width: 20px;
      height: 2px;
      margin: 0 10px;
      opacity: .6;
    }

    li {
      display: flex;
      align-items: center;
    }

    li.slick-active button{
      height: 20px;
      opacity: 1;
    }
  }
}

.slider-home-banner {
  position: relative;

  .slick-dots {
    position: absolute;
    right: 60px;
    top: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      font-size: 0;
      border: 0;
      outline: 0;
      background: $font-color-pink;
      width: 2px;
      height: 20px;
      margin: 10px 0;
      opacity: .6;
    }

    li {
      display: flex;
      align-items: center;
    }

    li.slick-active button{
      width: 20px;
      opacity: 1;
    }
  }
}

.slider-rooms {

  .slick-list {
    padding: 0 !important;
  }

  .slick-arrow {
    font-size: 0;
    background: none;
    border: 0;
    position: absolute;
    left: 20px;
    top: calc(50% - 20px);
    height: 40px;
    width: 40px;
    background-color: rgba($color: #EAE9E6, $alpha: .6);
    z-index: 1;

    &:after {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      left: 0;
      top: 0;
      background-image: url(../img/svg/arrow-down.svg);
      background-position: center center;
      background-repeat: no-repeat;
    }

    &:hover {
      background-color: rgba($color: #EAE9E6, $alpha: 1);
    }

    &:active {

      &:after {
        background-size: 10px;
      }
    }
  }

  .slick-next {
    left: auto;
    right: 20px;

    &:after {
      transform: rotate(-90deg);
    }
  }

  .slick-prev {

    &:after {
      transform: rotate(90deg);
    }
  }
}

.book-visit {
  background-image: url(../img/backgrounds/book-visit.png);
  background-size: cover;
  background-attachment: fixed;
  padding-top: 80px;
  position: relative;

  h3 {
    margin-bottom: 30px;
  }

  &>img {
    width: 700px;
  }

  .book-visit-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .container {
      height: 100%;
    }
    &>div>.row {
      align-items: center;
      height: 100%;
    }
  }

  input {
    box-shadow: 0 6px 11px 0 rgba(163,163,163,0.50);
  }

  .button #arrow {
    fill: #fff;
  }

  .col-md-6 {
    margin-bottom: 30px;
  }
}

.services {
  background: $light-background;
  padding-top: 50px;

  h3 {
    text-transform: none;
  }

  .services-item {
    display: block;
  }

  .service-description {
    position: relative;
    padding: 55px 20px;
    background: $pink-background;
  }

  .service-icon {
    position: absolute;
    z-index: 1;
    top: -35px;
    left: 20px;
    width: 70px;
    height: 69px;
    background: $light-background;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 27px 0 rgba(63,63,63,0.50);
    border-radius: 4px;

    img {
      width: 35px;
      
    }
  }

  p {
    font-family: $font-avenir-medium;
    color: $font-color-light;
    font-size: $font-size-standard;
    line-height: 1.3;
  }

  .button {
    min-width: 200px;

    #arrow {
      fill: #fff;
    }
  }

  .title-bloc {
    margin-bottom: 50px;
  }
}

.quote {

  p {
    text-align: center;
    font-size: $font-size-medium;
    position: relative;
    padding: 40px 0;

    &:after,
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      height: 2px;
      background: $font-color-pink;
    }

    &:before {
      bottom: 0;
      top: auto;
    }
  }

  span {
    font-size: 30px;
    line-height: $font-size-medium;
  }
}

.solutions {
  background-image: url(../img/backgrounds/solutions-background.png);
  background-size: 100% 100%;
  padding: 80px 0;
  position: relative;

  .solution-icon {
    width: 70px;
    height: 69px;
    background: $light-background;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 27px 0 rgba(63,63,63,0.50);
    border-radius: 4px;

    img {
      width: 35px;
    }
  }

  p {
    font-family: $font-avenir-medium;
    color: $font-color-blue;
    font-size: $font-size-small;
    line-height: 1.3;
  }

  .name {
    font-family: $font-avenir-medium;
    color: $font-color-pink;
    font-size: $font-size-medium;
    line-height: 1.3;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .solution-item {
    margin-bottom: 40px;
  }

  .button {
    position: absolute;
    max-width: 250px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -30px;
    z-index: 1;

    #arrow {
      fill: #fff;
    }
  }
}

.team {
  background-image: url(../img/backgrounds/personal-background.png);
  background-size: cover;
  background-position: center;

  h3 {
    text-transform: none;
    color: $font-color-light;
    margin-top: 140px;
  }

  .button {
    min-width: 200px;
    max-width: 250px;

    #arrow {
      fill: #fff;
    }
  }

  p {
    font-family: $font-avenir-medium;
    color: $font-color-light;
    font-size: $font-size-standard;
    line-height: 1.5;
    margin: 40px 0;
  }

  .team-item {
    box-shadow: 0 8px 15px 0 rgba(156,156,156,0.50);
    border-radius: 6px;
    background: $light-background;
  }

  .team-item:hover {
    background: $blue-background;
    .team-description {
      background: $blue-background;

      .name {
        color: $font-color-light
      }
    }
  }

  .team-description {
    background: $light-background;
    padding: 30px;
    position: relative;
    top: -5px;
    transition: all .3s ease;

    .name {
      font-family: $font-avenir-medium;
      color: $font-color-blue;
      font-size: 25px;
      line-height: 1.3;
    }
    span {
      font-family: $font-avenir-medium;
      color: $font-color-pink;
      font-size: $font-size-small;
      line-height: 1.3;
      text-transform: uppercase;
    }
    div, span {
      text-align: center;
      display: block;
    }
  }

  .team-container {
    margin-top: 100px;
    position: relative;
    bottom: -40px;
  }
}

.tabs {
  padding: 80px 0;

  h3 {
    margin-bottom: 30px;
  }

  .tabs-text {
    margin-bottom: 60px;
  }

  .nav {
    display: flex;

    li {
      display: block;
      border: 3px solid $blue-background-rgba;

      &:last-child {
        border-right: 3px solid $blue-background-rgba;
      }
    }

    a {
      font-size: $font-size-medium;
      color: $font-color-light;
      font-family: $font-avenir-heavy;
      display: block;
      text-align: center;
      line-height: 40px;
      background: $blue-background;
      padding-right: 30px;
      padding-left: 30px;

      &:hover,
      &.active {
        background: #fff;
        color: $font-color-blue;
      }
    }
  }

  .tab-item {
    display: flex;
    flex-wrap: nowrap;
    float: left;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px dotted $blue-background-rgba;
    
    span {
      display: block;
      width: 100%;
      font-size: $font-size-standard;
      color: $font-color-blue;
      font-family: $font-avenir-medium;
      
      &:last-child {
        text-align: right;
      }
    }
  }

  .tab-content {
    margin-top: 30px;
  }
}

.ranges {
  margin-top: 10px;

  span {
    font-family: $font-avenir-medium;
    font-size: $font-size-small;
    color: $font-color-blue;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  .range-bloc {
    margin-bottom: 20px;

    &:nth-child(1) .range {
      width: 93%;
    }
    &:nth-child(2) .range {
      width: 96%;
    }
    &:nth-child(3) .range {
      width: 90%;
    }
    &:nth-child(4) .range {
      width: 92%;
    }
  }
}

.image-split {
  position: relative;
  height: 100%;

  .split-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // #split-container-clean {
  //   z-index: 2;
  //   clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  // }

  #drag {
    position: absolute;
    z-index: 3;
    width: 6px;
    height: 100%;
    left: calc(50% - 3px);
    cursor: pointer;
    

    &:hover {
      &:after {
        transform: scale(1.3);
      }
    }

    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 3px;
    }

    &:before {
      height: 100%;
      width: 1px;
      background: #fff;
      
    }

    &:after {
      height: 40px;
      width: 4px;
      background: $blue-background;
      top: calc(50% - 20px);
      transition: transform .3s ease;
    }
  }
}

.about-section {
  padding: 80px 0;

  p, a, span {
    font-family: $font-avenir-medium;
    color: $font-color-blue;
    line-height: 1.4;
    text-align: center;
    display: block;
  }

  h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    span, small {
      font-size: $font-size-big;
    }

    span {
      padding-left: 15px;
    }
  }

  .contact-item {
    text-align: center;
    margin-top: 40px;

    p {
      margin: 10px 0;
    }

    svg {
      width: 60px;
      height: auto;
      margin-right: 10px;
      
      .contact-icons {
        fill: $font-color-blue
      }
    }

    p, span, a {
      font-size: $font-size-medium;
    }

    span, a {
      font-size: $font-size-small;
      opacity: .7;
    }
  }
}

.map-contact {
  padding: 80px 0;
  position: relative;
  z-index: 1;

  .hours-plan {
    background: $footer-background;
    padding: 40px;
    position: relative;
    z-index: 2;

    img {
      margin-bottom: 30px;
    }

    h5 {
      font-size: $font-size-medium;
      color: $font-color-light;
      font-family: $font-avenir-heavy;
      line-height: 1.1;
      margin-bottom: 20px;
    }

    li, p {
      font-size: $font-size-small;
      color: $font-color-light;
      font-family: $font-avenir-medium;
      line-height: 1.1;
    }

    p {
      margin-bottom: 10px;
    }

    li {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid rgba($color: $font-color-light, $alpha: .55);

      span:last-child {
        color: rgba($color: $font-color-light, $alpha: .55);
      }
    }

    ul {
      margin-bottom: 40px;
    }

    .button {
      
      span {
        color: #fff !important;
      }

      #arrow {
        fill: #fff;
      }
    }
  }

  .mapouter {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100%;
    z-index: 1;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.home-content {

  .appointment {
    background: $light-background;
    margin-top: -80px;
    padding-bottom: 50px;

    article {
      padding: 30px;
      background: url("../img/backgrounds/form-background.jpg") no-repeat 100% 100%;
      box-shadow: 0 20px 27px 0 rgba(113,113,113,0.50);
      margin-left: -130px;
      padding-left: 130px;
    }

    .article-inner {
      display: flex;

      div {
        flex: 1;
        padding: 15px;
      }
      form {
        flex: 1;
        padding: 15px;
      }
    }

    input {
      margin-bottom: 20px;
    }
  }

  .pre-team {
    padding: 100px 0;
  }

  

  .tourism {
    background-image: url(../img/backgrounds/tourism-background.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0;

    h3 {
      color: $font-color-light;
      margin-bottom: 50px;
    }

    .title {
      display: flex;
      align-items: center;
      font-family: $font-avenir-medium;
      font-size: $font-size-medium;
      color: $font-color-light;
      line-height: 1.3;
      margin-bottom: 20px;

      img {
        width: 46px;
        margin-right: 5px;
      }
    }

    p {
      font-family: $font-avenir-medium;
      font-size: $font-size-small;
      color: $font-color-light;
      line-height: 1.3;
    }

    .tourism-item {
      margin-bottom: 50px;
    }

    .button {
      min-width: 300px;

      #arrow {
        fill: #fff;
      }
    }
  }

  .news {
    padding: 80px 0;

    .new-item {
      display: block;
    }

    .new-item:hover {
      outline: 1px solid $font-color-blue;

      .new-description {
        background: $light-background;
      }
    }

    .button {
      min-width: 250px;
    }

    .new-image {
      position: relative;

      .date {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 15px;
        background: $pink-background;
        font-family: $font-avenir-medium;
        font-size: $font-size-standard;
        color: $font-color-light;
      }
    }

    .new-description {
      padding: 15px;
      padding-top: 30px;
      background: #FFFFFF;
      box-shadow: 0 8px 15px 0 rgba(194,194,194,0.50);
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .name {
      font-family: $font-avenir-medium;
      font-size: $font-size-medium;
      color: $font-color-blue;
      line-height: 1.3;
      margin-bottom: 10px;
    }

    p {
      font-family: $font-avenir-medium;
      font-size: $font-size-small;
      color: $font-color-blue;
      line-height: 1.3;
      margin-bottom: 10px;
    }

    .button-transparent {
      font-size: $font-size-small;
      overflow: hidden;

      svg {
        width: 15px;
      }

      &:hover {
        svg {
          right: -15px;
        }
        span {
          right: -13px;
        }
      }
    }

    .title-bloc {
      margin-bottom: 50px;
    }
  }
}

.news-content {

  .news {
    padding: 80px 0;
  }

  .news-item {
    padding-bottom: 30px;
    margin-bottom: 80px;
    border-bottom: 1px solid $font-color-pink;

    h3 {
      line-height: 1.1;
      transition: color .3s ease;
    }
    
    a {
      display: block;
      

      &:hover h3 {
        color: $font-color-pink
      }
    }

    .author {
      width: 120px;
      text-align: center;

      img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 80%;
      }

      p, span {
        font-size: $font-size-standard;
        color: $font-color-blue;
        text-align: center;
        line-height: 1.2;
        font-family: $font-avenir-medium;
      }

      span {
        font-size: $font-size-small;
        line-height: 2;
        opacity: .5;
      }
    }

    .slider-item {
      border-radius: 9px;
    }

    .crumbs {
      display: inline-block;
      margin: 20px 0 20px;

      li, a {
        color: $font-color-blue;
      }
      li:after {
        top: 5px;
      }
    }

    p {
      font-family: $font-avenir-medium;
      font-size: $font-size-standard;
      color: $font-color-blue;
      line-height: 1.3;
      margin-top: 20px;
    }

    a.button {
      display: flex;
      min-width: 200px;
      margin-top: 30px;

      #arrow {
        fill: #fff;
      }
    }
  }
}

.new-one-content .cke {
  $margin-bot: 20px;

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  p, li, a, h4 {
    color: $font-color-blue;
    font-size: $font-size-standard;
    font-family: $font-avenir-medium;
    line-height: 1.5;
  }

  p {
    margin-bottom: $margin-bot;
  }

  h4 {
    font-size: $font-size-big;
    font-family: $font-avenir-heavy;
    margin-bottom: $margin-bot;
  }

  img {
    margin-bottom: $margin-bot;
  }
}

.about-content {

  .banner-about {
    padding: 120px 0;

    .border-bot {
      position: relative;
      padding-bottom: 40px;
      margin-bottom: 40px;
      border: 0;

      &:after {
        content: "";
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 0;
        height: 1px;
        background: rgba($color: $blue-background-rgba, $alpha: .3);
      }
    }

    p {
      font-family: $font-avenir-medium;
      font-size: $font-size-standard;
      color: $font-color-blue;
      line-height: 1.3;
      margin-bottom: 20px;
    }
  }

  .services {
    background: none;

    p {
      color: $font-color-light;
      margin-bottom: 0;
    }
    p.name {
      font-size: $font-size-medium;
      margin-bottom: 15px;
    }
  }
}

.about-content.services-content {

  .banner-about {
    background-image: url(http://denticare.bold-themes.com/allen/wp-content/uploads/sites/16/2020/02/hero-3.jpg);
    background-size: cover;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba($color: #fff, $alpha: .85);
      z-index: 1;
    }
    
    .row {
      position: relative;
      z-index: 2;
    }
  }

  .solutions {
    background: none;
    padding: 0;
    padding-top: 20px;
  }

  .in-numbers {
    padding: 80px 0;
    
    .row:nth-child(2)>div:first-child {
      display: flex;
      align-items: center;
    }

    .row:nth-child(2) {
      margin-top: 30px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  .testimonial {
    padding: 0;

    .section-left {

      .button {
        min-width: 200px;
        margin-top: 30px;
        #arrow {
          fill: #fff;
        }
      }
    }

    .container {
      max-width: 95vw;
      margin-right: 0;
      margin-left: auto;
    }

    .section-right {
      position: relative;
      padding: 180px 0;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        z-index: 1;
        height: 100%;
        background-color: $font-color-light;
      }
    }
  }

  .slider-testimonials {
    z-index: 2;

    .slick-list {
      padding: 20px 0 !important;
    }

    img {
      margin: 0;
    }

    .testimonial-item {
      background-color: #fff;
      padding: 30px 60px;
      box-shadow: 3px 0px 10px 0px rgba(113,113,113,0.50);
      margin: 0 10px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 40px;
        top: 10px;
        right: 10px;
        background-size: 100%;
        background-image: url(http://denticare.bold-themes.com/allen/wp-content/uploads/sites/16/2020/02/img-quote.png);
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    p {
      margin-bottom: 0;
      color: $font-color-blue
    }

    p.description {
      text-align: center;
    }

    .top {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      div {
        padding-left: 15px;
      }

      p {
        margin-bottom: 10px;
        font-weight: 500;
        font-family: $font-avenir-heavy;
        text-align: left;
      }

      span {
        font-size: $font-size-small;
        font-family: $font-avenir-medium;
        color: $font-color-blue;
      }
    }
  }

  h3 {
    margin-bottom: 40px;
  }
}

.team-content {

  .banner-team {
    height: calc(100vh - #{$height-header});
    background-image: url(../img/backgrounds/team-banner.jpg);
    background-size: cover;
    background-position: center center;

    .row, .container {
      height: 100%;
    }

    .row {
      align-items: center;
    }

    h3 {
      text-align: center;
      margin-bottom: 30px;
    }

    img {
      width: 80px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
    }
  }

  .team {
    background-image: none;
    padding: 80px 0;
  }

  .team-container {
    top: 0;
    margin-top: 0;

    h3 {
      margin-top: 0;
    }
    h3 span {
      color: $font-color-blue;
    }
  }

  .map-contact {

    .mapouter {
      width: 100vw;
    }

    .hours-plan {
      background: $light-background;

      h5, p, span {
        color: $font-color-blue;
      }

      li span:last-child {
        color: rgba($color: $font-color-blue, $alpha: 0.55);
      }
    }
  }
}

.tourism-content {

  .tourism-banner {
    height: calc(100vh - #{$height-header});
    position: relative;

    h3 {
      margin-bottom: 30px;
    }

    .button #arrow {
      fill: #fff;
    }

    .item {
      display: flex;
      align-items: flex-start;
      margin: 30px 0;

      img {
        width: 30px;
        margin-right: 15px;
      }

      a {
        color: $font-color-blue;
        font-size: $font-size-medium;
        font-family: $font-avenir-heavy;
        margin-bottom: 10px;
        display: block;

        &:hover {
          color: $font-color-pink
        }
      }

      p {
        opacity: .8 ;
        font-size: $font-size-small;
      }
    }

    .banner-background {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 40%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center top;
      }
    }

    .container, .row {
      height: 100%;
    }

    .container>.row {
      justify-content: flex-end;
      align-items: center;
    }
  }

  .tourism-text {
    padding: 80px 0;

    h3 {
      margin-bottom: 30px;
    }

    p {
      line-height: 1.6;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .range-bloc:last-child {
      margin-bottom: 10px;
    }

    .row>div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .room-section {
    padding: 80px 0;

    h3 {
      margin-bottom: 30px;
    }
  }

  .rates-section {
    padding: 80px 0;
    background: $light-background;

    h3 {
      margin-bottom: 30px;
    }

    h3 + p {
      margin-bottom: 30px;
    }

    .button {
      margin-top: 30px;
    }

    .rate-item {
      background: #fff;
      padding: 60px 30px;
      padding-bottom: 30px;
      border-radius: 9px;
    }

    p.price {
      font-size: $font-size-big;
      color: #000000;
      font-family: $font-avenir-heavy
    }

    p.name {
      font-size: 24px;
      font-family: $font-avenir-heavy
    }

    $lhtext: 20px;

    p.name + p {
      margin-bottom: 20px;
      height: $lhtext * 4;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    li {
      font-size: $font-size-standard;
      color: $font-color-blue;
      font-family: $font-avenir-medium;
      line-height: 1.3;
      padding: 5px 0;
      padding-left: 20px;
      background-image: url(../img/svg/check-solid.svg);
      background-repeat: no-repeat;
      background-size: 13px;
      background-position: 0 8px;
    }

    ul {
      padding-top: 20px;
      border-top: 1px solid rgba($color: $font-color-blue, $alpha: .1);
    }

    .rates-bloc {
      margin-top: 20px;
    }

    .rates-bloc>div:nth-child(2){

      .rate-item {
        background: $blue-background;
      }

      p, li, p.name {
        color: $font-color-light;
      }

      li {
        background-image: url(../img/svg/check-solid.svg);
      }
    }

    .rates-bloc>div:nth-child(3){

      .rate-item {
        background: $pink-background;
      }

      p, li {
        color: $font-color-light;
      }

      p.name {
        color: $font-color-blue;
      }
    }
    
  }
}

.service-one-content {

  .service-one-banner {
    background: $blue-background;
    height: calc(100vh - #{$height-header});
    position: relative;

    .background-banner {
      position: absolute;
      width: calc(50vw - 15px);
      height: 100%;
      right: 0;
      top: 0;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    p {
      color: $font-color-light;
      margin-bottom: 30px;
    }

    h3 {
      margin-bottom: 30px;
    }

    h3, small {
      color: $font-color-light;
    }

    .container, .row {
      height: 100%;
    }

    .row {
      align-items: center;
    }
  }

  .services-list {
    background: $blue-background;
    padding: 30px;
    position: relative;
    top: -80px;

    a {
      font-size: $font-size-standard;
      font-family: $font-avenir-medium;
      color: $font-color-light;
      line-height: 50px;
      border-bottom: 1px solid rgba($color: $font-color-light, $alpha: .3);
      display: block;
      transition: opacity .3s ease;
      position: relative;

      &:after {
        content: "";
        width: 7px;
        height: 2px;
        background: $pink-background;
        position: absolute;
        left: -20px;
        top: 24px;
        opacity: 0;
        transition: all .3s ease;
      }
    }

    a:hover,
    a.active {
      &:after {
        opacity: 1 !important;
        left: -15px !important;
      }
    }
  }

  .surgery {
    padding: 80px 0;
    
    img {
      margin-bottom: 20px;
    }

    b {
      font-family: $font-avenir-heavy;
      font-weight: bold;
    }

    h3 {
      margin-bottom: 30px;
    }
  }

  .get-in-touch {
    border: 10px solid #F9F7EF;
    padding: 30px;

    &>div:nth-child(2) {
      border-bottom: 1px solid rgb(186, 184, 184);
      padding-bottom: 30px;
    }

    h5 {
      color: $font-color-pink;
      margin-bottom: 30px;
      border-bottom: 1px solid rgb(186, 184, 184);
      line-height: 2.2;
    }
  }

  .get-bloc {
    display: flex;
    margin-bottom: 30px;

    svg {
      width: 60px;
    }

    #phone {
      fill: #13476A;
    }

    a {
      display: block;
      font-size: $font-size-small;
      color: $font-color-blue;
      line-height: $font-size-medium
    }

    p {
      margin-bottom: 10px;
    }

    div {
      margin-left: 15px;
    }
    
  }

  input {
    margin-bottom: 30px;
    box-shadow: 0 4px 10px 0 rgba(127,127,127,0.50);
  }

  .phone-container {
    margin-bottom: 30px;
    box-shadow: 0 4px 10px 0 rgba(127,127,127,0.50);
    input {
      margin-bottom: 0;
      box-shadow: none;
    }
  }

  h5 {
    font-size: 25px;
    font-family: $font-avenir-heavy;
    color: $font-color-light;
    padding-bottom: 10px;
  }

  .services {
    padding-bottom: 80px;
  }
}

.rooms-content {
  
  .banner-page {
    background-image: url(../img/backgrounds/rooms-banner.png);

    &:after {
      display: none;  
    }
  }

  .room-staff {
    padding: 80px 0;
  }

  .room-options-right {
    background: $blue-background;
    padding: 30px 40px;
  }

  h5 {
    text-transform: uppercase;
    font-size: $font-size-standard;
    font-family: $font-avenir-heavy;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  ul {
    margin-bottom: 30px;
  }

  li {
    font-size: $font-size-small;
    font-family: $font-avenir-medium;
    color: #fff;
    padding-left: 20px;
    display: block;
    line-height: 30px;
    background-image: url(../img/svg/check-rekt.svg);
    background-size: 10px;
    background-position: 0 10px;
    background-repeat: no-repeat;
  }

  .button {
    
    svg {
      margin-left: 10px;
    }

    span {
      font-size: $font-size-small;
    }
  }

  .item {
    width: 80px;
    height: 80px !important;
    background: $light-background;
    box-shadow: 0 6px 12px 0 rgba(194,194,194,0.50);
    border-radius: 4px;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;

    span {
      font-size: $font-size-small;
      font-family: $font-avenir-medium;
      color: $font-color-blue;
      text-align: center;
    }

    svg {
      width: 20px;
      margin-bottom: 10px;
    }
  }

  .room-options-bottom {
    margin-top: 30px;
    &>div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
  }

  .contact {
    margin-top: 30px;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/backgrounds/modal.png);
    background-size: 100% 100%;
    padding: 0 40px;
    box-shadow: 0 6px 12px 0 rgba(194,194,194,0.50);
    h5 {
      color: $font-color-blue;
      text-align: center;
    }
    a {
      font-size: $font-size-small;
      font-family: $font-avenir-medium;
      color: $font-color-blue;
      margin-bottom: 10px;
      display: block;
      margin-left: 5px;
    }
    div {
      display: flex;
    }
  }

  .room-text {

    p {
      font-size: $font-size-standard;
      font-family: $font-avenir-medium;
      color: $font-color-blue;
      margin-bottom: 30px;
    }
  }

  .room-details {
    padding: 50px 0;

    h3 {
      margin-bottom: 30px;
    }
  }

  .details-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $font-color-blue;
    margin-bottom: 20px;

    span {
      font-size: $font-size-standard;
      font-family: $font-avenir-medium;
      color: $font-color-blue;
      line-height: 25px;
    }
  }
}

.modal {
  
  .modal-content {
    position: relative;
    padding: 30px 60px;
    padding-top: 0;
    padding-bottom: 60px;
    background-image: url(../img/backgrounds/modal.png);
    background-size: 100% 100%;
  }

  input {
    margin-bottom: 30px;
  }

  .phone-container {
    margin-bottom: 30px;
    box-shadow: none;

    input {
      margin-bottom: 0;
    }
  }

  .title-modal {
    font-size: $font-size-big;
    line-height: 3;
    font-family: $font-avenir-heavy;
    color: $font-color-blue;
    text-align: center;
    text-transform: uppercase;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-image: url(../img/svg/close.svg);
    background-size: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

#burger {
  position: relative;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:after,
  &:before {
    content: "";
    height: 2px;
    width: 30px;
    border-radius: 0px;
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: $font-color-pink;
    transition: all 0.2s ease-out;
  }
  &:after {
    bottom: 6px;
  }
  &:before {
    top: 6px;
  }
  .iconBar {
    width: 30px;
    height: 2px;
    display: inline-block;
    margin: 14px 0;
    background-color: $font-color-pink;
    transition: all 0.2s ease-out;
    border-radius: 3px;
  }
}

#burger.burgerOpen {
  .iconBar {
    width: 0;
  }
  &:after {
    transform: rotate(-45deg);
    bottom: 14px;
  }
  &:before {
    transform: rotate(45deg);
    top: 14px;
  }
}

#header-mobile {
  background: $light-background;
  height: 59px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  padding: 0 15px;
  align-items: center;
  z-index: 5;
  transition: left .3s ease;

  a.logo {
    margin-left: 15px;
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {

  #cover {
    overflow: hidden;
    width: 100vw;
  }

  main {
    padding-top: 59px;
  }

  body.header-open {
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    #header-mobile {
      left: calc(100vw - 60px);
      background: #ffffff;
    }

    header {
      left: 0;
    }
  }

  h3 {
    margin-bottom: 30px;
  }

  h1 {
    font-size: $font-size-big;
  }

  a.logo {
  
    img {
      width: 200px;
    }
  }

  #header-mobile {
    display: flex;
  }

  header {
    width: 100vw;
    height: 100vh;
    background: #fff;
    overflow: scroll;
    padding: 0 15px;
    padding-bottom: 30px;
    left: -100vw;
    transition: left .3s ease;

    a.logo {
      display: block;
      text-align: center;
      padding: 30px 0;
    }
  
    .header-top{
      height: auto;
    }
  
    .header-bottom-right {
      flex-direction: column;
    }

    .header-bottom {
      height: auto;
      border: 0;

      &>div>ul>li {
        border-top: 1px solid $font-color-blue;
        
        &:hover ul {
          height: 0;
          opacity: 0;
        }
        &>a:hover {
          box-shadow: none;
        }
      }

      li ul {
        position: relative;
        left: 0;
        box-shadow: none;
        background: #fff;
        
        &.open {
          height: auto !important;
          opacity: 1 !important;
        }
      }
    }

    .header-contact {
      flex-direction: column;

      &>div {
        margin-bottom: 15px;
        justify-content: center;
        margin-left: 0;
        padding-right: 17px;
      }
    }
  
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 0;

      span {
        margin-right: -30px;
        padding-right: 30px;
        background-image: url(../img/svg/arrow-down.svg);
        background-repeat: no-repeat;
        background-position: 100% center;
        position: relative;
        z-index: -1;
      }
    }

    a {
      text-align: center;
    }

    .lang-bloc {
      margin-right: 0;
      width: 100%;
      border-top: 1px solid $font-color-blue;
      
      div {
        justify-content: center;
      }
      span {
        line-height: 59px;
      }
    }

    .button {
      margin-top: 30px;
    }
  }

  footer {

    .footer-inner {
      flex-wrap: wrap;
      padding: 30px 0;
    }

    .title {
      margin-bottom: 0;
      padding: 10px 0;
      position: relative;

      &:after {
        content: "+";
        color: $font-color-pink;
        position: absolute;
        right: 15px;
        top: 0;
        line-height: 44px;
        font-size: $font-size-medium;
      }
    }

    ul {
      border-bottom: 1px solid #fff;
      height: 44px;
      overflow: hidden;
    }

    ul.open {
      height: auto;
      padding-bottom: 15px;

      .title {

        &:after {
          content: "-"
        }
      }
    }
  }

  .banner-page {

    span {
      display: block;
      margin-bottom: 10px;
    }
  }

  .home-banner {
    background-position: 80%;

    p {
      font-size: $font-size-medium;
      margin-bottom: 30px;
    }
    .title {
      font-size: $font-size-big;
      margin-bottom: 100px;
    }
    .row {
      margin-right: 0;
    }
  }

  .slider-testimonials {
    margin-bottom: 50px;
  }

  .team {

    h3 {
      margin-top: 30px;
    }

    p {
      margin: 30px 0;
    }

    .team-container {
      bottom: 0;
      margin-top: 30px;
    }

    .team-item {
      margin-bottom: 30px;
    }
  }

  .tabs {
  
    .nav {
      li {
        width: 100%;
      }
    }
  }

  .services {
    .services-item {
      margin-bottom: 20px;
    }
  }

  .map-contact {
    padding: 0;

    .col-12 {
      padding: 0;
    }

    .hours-plan {
      padding: 80px 15px;
    }
    .mapouter {
      position: static;
      width: 100vw;
      height: 70vh;
    }
  }

  .quote {
    margin-bottom: 30px;
  }

  .about-section {
    padding: 80px 0;
  
    h3 {
      display: block;
      text-align: center;
  
      span {
        padding-left: 0;
      }
    }
  }

  .home-content {

    .appointment {
      padding-bottom: 0;

      article {
        margin: 0;
        padding: 0;
        padding-bottom: 50px;
        box-shadow: none;
      }
      h3 {
        margin-bottom: 30px;
        margin-top: 20px;
      }
      .article-inner {
        display: block;

        div {
          padding: 0;
        }

        form {
          padding: 15px 0;
        }
      }
    }

    .news {

      .new-item {
        margin-bottom: 30px;
      }
    }
  }

  .about-content {

    .banner-about {
      padding: 50px 0;

      h3 {
        margin-bottom: 0;
      }
    }
  }

  .team-content {

    .banner-team {
      height: calc(100vh - 59px);
  
      .row {
        background: rgba($color: #fff, $alpha: .7);
      }
    }
  
    .map-contact {
  
      .mapouter {
        width: 100vw;
      }
  
      .hours-plan {
        background: $light-background;
  
        h5, p, span {
          color: $font-color-blue;
        }
  
        li span:last-child {
          color: rgba($color: $font-color-blue, $alpha: 0.55);
        }
      }
    }
  }

  .about-content.services-content {

    .banner-about {
      padding-bottom: 30px;
    }
  
    .testimonial {
      padding: 0;
      background-color: $font-color-light;
      .section-left {
        padding: 0 15px;
        padding-top: 40px;

        .button {
          min-width: 250px;
        }
      }
  
      .container {
        max-width: 100vw;
        margin-right: auto;
      }
  
      .section-right {
        padding: 30px 0;
  
        &:after {
          display: none;
        }
      }
    }

    .slider-testimonials .testimonial-item {
      padding: 30px;
    }

    .in-numbers {
      padding: 40px 0;
    }
  
    h3 {
      margin-bottom: 30px;
    }
  }

  .news-content {

    .news-item {

      .author {
        width: auto;
        margin-bottom: 10px;

        img {
          width: 50px;
          margin-bottom: 0;
          margin-right: 15px;
          float: left;
        }

        p {
          display: inline-block;
          margin-bottom: 5px;
          margin-top: 0;
        }

        span {
          display: block;
          margin-right: 0;
          margin-left: auto;
          text-align: left;
        }
        
      }

      h3 {
        font-size: $font-size-medium;
        margin-bottom: 20px;
      }
    }
  }

  .tourism-content {

    .tourism-banner {
      height: auto;
      padding-top: 40px;
      padding-bottom: 30px;
  
      .item {
        display: block;
  
        img {
          float: left;
        }
      }

      .button {
        margin-bottom: 30px;
        width: 250px;
      }
  
      .banner-background {
        width: 100%;
  
        img {
          opacity: .3;
        }
      }
  
      .container, .row {
        height: 100%;
      }
  
      .container>.row {
        justify-content: flex-end;
        align-items: center;
      }
    }

    .ranges {
      margin-bottom: 20px;
    }
  
    .rates-section {
      padding-bottom: 30px;

      .button {
        margin-bottom: 60px;
      }
      
    }
  }

  .service-one-content {

    .service-one-banner {
      height: auto;
      padding: 30px 0;

      .background-banner {
        display: none;
      }
    }
  }

  .modal {

    .modal-content {

      padding: 40px 15px;
    }
  }
}


