// Fonts 

$font-avenir-medium: "Avenir-Medium";
$font-avenir-heavy: "Avenir-Heavy";

// Backgrounds

$light-background: #F9F7EF url("") no-repeat center center;  /* color code (decimal, hexadecimal, rgb, rgba, etc...),
                                                          image,
                                                          repeat (repeat, repeat-x, repeat-y),
                                                          position x (left, right, 0% - 100%, pixels) ,
                                                          position y  (top, bottom, 0% - 100%, pixels),
                                                          header, */

$pink-background: #BC68AA url("") no-repeat center center;

$blue-background: #3A96D2 url("") no-repeat center center;

$blue-dark-background: #0F2B3E url("") no-repeat center center;

$footer-background: linear-gradient(-13deg, #3A96D2 0%, #266289 62%);
// $footer-background: #3A96D2;

$blue-background-rgba: #3A96D2; /* news banner */

$pink-background-rgba: #BC68AA; /* borders */



// Color Font

$font-color-blue: #13476A;

$font-color-pink: #BC68AA; /* nav items on hover, titles */

$font-color-light: #F9F7EF; /* button color */

// Font Size

$font-size-small: 14px;

$font-size-standard: 16px;

$font-size-medium: 20px;

$font-size-big: 40px; /* section's titles */

$font-size-large: 50px; /* page's titles */




// Header && Footer




// Home




// Buttons



