$color_main: #1a1a1a;
$color_second: #65180b;
$color_hints: #696969;
$color_alert: #b73c3c;
$color_green: #1dbf73;
$color_additional: rgb(74, 115, 232); // show more, some links

// main fonts size

$fontSize_small: 14px;
$fontSize_main: 16px;
$fontSize_name: 20px;
$fontSize_title: 30px;

// fons

$fonBody: #e7e9eb;
$fonBlue: #1d809f;

// inputs

$color_border_input: #b5b6ba;
$color_input: #62646a;
$height_input: 34px;
$color_input-focus: $color_second;

// fonts

$cormorant: "Source Sans Pro", Sans Serif;

// header

$height_header: 70px;
$fontSize_header: $fontSize_name;
$fon_burger: $fonBlue;
$fon_header: $fonBody;

//footer

$fon_footer: $fonBody;
